body {
 font-family:'Roboto', sans-serif;
 background-color: white ;
 margin: 0;
 padding: 0;
 
}

.container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#1d2937;
    padding: inherit;
}

.welcome-board{
    display: flex;
    flex-direction: column;
    color:white;
    padding:  10px 50px; 

}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
    
}

.title-logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.right-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color:#f9faf89c;
    
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.intro-message{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro-logo {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    width: 400px;
}

.intro-text{
    font-size: 18px;
    width: 500px;
}

.placeholder-image {
    width: 100%;
    max-width: 800px;
    min-width: 200px;
    height: auto;
    border-radius: 20px;
}

.sign-up{
    background-color: #3882f6;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}




/* Second container */
.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    padding: inherit;
}
.image-board{
    display: flex;
    flex-direction: column;
    margin: 30px 100px;
}
.image-board-header{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 10px;
    text-align: center;
    padding: 40px;
}

.image-board-images {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between ;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 70px;
}

.info-image-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between ;
    text-align: center;
    gap: 20px;
}

.info-image-board-text {
    width: 150px;
    text-align: center;
}

.info-image-board-image{
    width: 250px;
    height: 250px;
    align-items: center;
    border-radius: 20px;

}


